.footer {
    background-color: bisque; 
    width: 100%;
    height: 300px;
}

.sb_footer {
    display: flex;
   /* flex-wrap: wrap;*/
    justify-content: space-between;
}

.sb_footer_links-div,
.sb_footer-links_div {
    flex: 1;
    margin-right: 20px; 
}

.sb_footer-below {
    margin-top: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sb_footer-copyright{
    margin-top: 150px; 
    text-align: center;
    
}
